# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
dist/

# SQLite Database
server/tasks.db
*.db

# Logs & OS Files
*.log
.DS_Store
Thumbs.db

# Environment variables
.env